.navbar {
    background-color: blueviolet;
    margin-bottom: 10px;
    color: white;
}

.newgame input[name="sentence"] {
  width: 500px;
  margin-bottom: 5px;
}

.newgame input[name="gamename"] {
  width: 500px;
  margin-bottom: 5px;
}

.newgame input[name="rightanswer"] {
  width: 250px;
}

input[type="submit"] {
  width: 183px;
}

form .btn {
  width: 183px;
}

.editcourse input[name="coursename"] {
  width: 500px;
}

.langbutton {
  margin-bottom: 5px;
}

.message, .error, .whitespace {
  color: white;
  display: block;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 10px;
  transition: opacity 1s; 
}

.message {
    background-color: rgb(73, 100, 255);
    display: none;
}
.error {
    background-color: rgb(255, 62, 62);
    display: none;
  }

.whitespace {
  display: block;
  background-color: white;
}
