.newgame input[name="sentence"] {
    width: 500px;
    margin-bottom: 5px;
}

.newgame input[name="gamename"] {
    width: 500px;
    margin-bottom: 5px;
}

.newgame input[name="rightanswer"] {
    width: 250px;
}

input[type="submit"]{
    width: 200px;
}


form .btn {
    width: 200px;
}

.editcourse input[name="coursename"]{
    width: 500px;
}

.langbutton {
    margin-bottom: 5px;
}