{% extends "layout.html" %}


{% block header %}
<h2>Hei, {{ session.firstname }}</h2>
{% if courses %}
<p>Valitse minkä kurssin<br />haluat muokata</p>
{% else %}
<p>Sinulla ei ole tällä hetkellä<br /> voimassa olevia kursseja</p>
{% endif %}
{% endblock %}


{% block content %}
<table class="table">
{% for course in courses %}
<tr>
    <td>{{ course.coursename }}</td>
    <td>Lisää infoa jos visible</td>
    <td><a class="btn btn-primary" href="/kurssihallinta/{{course.id}}" role="button">Muokkaa</a></td>

</tr>
{% endfor %}
</table>

{% endblock %}