{% extends "layout.html" %}


{% block header %}

<h2>Hei, {{ session.firstname }}</h2>
<p>Tässä voit muokata kurssin tiedot</p>

{% endblock %}


{% block content %}

<form class="editcourse" action="/createcourse" method="POST">
    <h4>Kurssin nimi:</h4>
        <textarea name="coursename" style="width:500px; height:40px;">
{{ course.coursename }}
        </textarea>
        <h4>Kuvaus:</h4>
        <textarea name="info" style="width:500px; height:150px;">
{{course.info}}
        </textarea><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
        <input type="submit" class="btn btn-success" value="Tallenna">
        <a class="btn btn-warning" href="/luokurssi" role="button">Eiku</a>
    </form>
    {% if games %}
    Tämä kurssi on kiinnitetty peleihin:
    {% for game in games %}
    <form action="/unchoosegame" method="POST">
        {{game.gamename}}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
        <input type="hidden" name="game_id" value="{{ game.id }}">
        <input type="submit" value="Poista peli">
      </form  >
    {% endfor %}
    {% endif %}
    <a href="/kielivalinta">Kiinnitä kurssi peleihin</a>

{% endblock %}





<form action="/editcourse" method="POST">

<a href="/kielivalinta">Kiinnitä kurssi peleihin</a>