{% extends "layout.html" %}


{% block header %}

<h2>Hei, {{ session.firstname }}</h2>
<p>Tässä sinun koulusi tiedot</p>

{% endblock %}


{% block content %}

<form class="editschool" action="/editschool" method="POST">
<h4>Koulun nimi:</h4>
<textarea name="schoolname" style="width:500px; height:40px;">
{{ school.schoolname }}
</textarea>
<h4>Kuvaus:</h4>
<textarea name="info" style="width:500px; height:150px;">
{{school.info}}
</textarea>
<h4>Osoite:</h4>
<textarea name="address" style="width:500px; height:150px;">
{{school.address}}
</textarea>
<h4>Asiakaspalvelinpuh.nro:</h4>
<textarea name="phone" style="width:500px; height:40px;">
{{school.phone}}
</textarea>
<h4>Interverkko-sivu:</h4>
<textarea name="www" style="width:500px; height:40px;">
{{school.www}}
</textarea><br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
<input type="submit" class="btn btn-success" value="Tallenna">
<a class="btn btn-warning" href="/kouluhallinta" role="button">Eiku</a>
</form>

{% endblock %}
