<form action="/editschool" method="POST">
<p>Koulun nimi:<br>
<textarea name="schoolname" style="width:500px; height:40px;">
{{ school.schoolname }}
</textarea>
<p>Kuvaus:<br>
<textarea name="info" style="width:500px; height:150px;">
{{school.info}}
</textarea>
<p>Osoite:<br>
<textarea name="address" style="width:500px; height:150px;">
{{school.address}}
</textarea>
<p>Asiakaspalvelinpuh.nro:<br>
<textarea name="phone" style="width:500px; height:40px;">
{{school.phone}}
</textarea>
<p>Interverkko-sivu:<br>
<textarea name="www" style="width:500px; height:40px;">
{{school.www}}
</textarea><br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> 
<input type="submit" value="Tallenna">
</form>
<a href="/">Palaa pääsivulle</a>
