{% extends "layout.html" %}


{% block header %}

<h2>Tsemppiä, {{ session.firstname }}</h2>
{% if session.current_points %}
<p><i>Viimeksi kun pelasit tätä peliä<br /> ansaitsit {{session.current_points}} pistettä!</i></p>
{% else %}
<p>Käännä suomenkieliset sanat!</p>
{% endif %}

{% endblock %}


{% block content %}

<form action="/playgame" method="POST">
<h4>{{ gamename }}</h4>
{% for sentence in sentences %}
<p>{{ sentence.info }}<br />
    <input type="text" name="answer" placeholder="Käännös tänne"></p>
{% endfor %}
<input type="submit" class="btn btn-success" value="Tallenna">
<a class="btn btn-warning" href="/" role="button">Eiku</a>
</form>
 {% endblock %}