{% extends "layout.html" %}

{% block header %}
{% if session.user_id %}

<h2>Hei, {{ session.firstname }}</h2>
<p>Sinun pisteet: {{session.points}}</p>
{% if langs %}
<a class="btn btn-success" href="/tulostaulu">Näytä tulostaulu</a>
{% else %}
<a class="btn btn-success" href="/">Päävalikkoon</a>
{% endif %}

{% else %}
<h2>Kirjaudu</h2>
<a class="btn btn-warning" href="/luotunnukset" role="button">Rekisteröidy</a>
{% endif %}
{% endblock %}


{% block content %}
{% if session.user_id %}
{% for lang in langs %}
<a style="width: 300px; margin-bottom: 5px;"class="btn btn-primary" href="/kieli/{{ lang.langname.lower() }}" role="button" style="margin-bottom: 5px;">{{ lang.langname}}</a><br>
{% endfor %}
{% if scores %}
<table class="table">
    <tr>
        <th>Tunnus</th>
        <th>Pisteet</th>
    </tr>
{% for score in scores %}
<tr>
    <td>
        {{ score.username }} 
    </td>
    <td>
        {{ score.points }}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}


{% else %}

<form action="/login" method="POST">
<h4>Tunnus:</h4>
<input type="text" name="username"></p>
<h4>Salasana:</h4>
<input type="password" name="passw"></p>
<input class="btn btn-success" type="submit" value="Kirjaudu">

{% endif %}
{% endblock %}