<form action="/createuser" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Etunimi:<br>
<input type="text" name="firstname"></p>
<p>Sukunimi:<br>
<input type="text" name="lastname"></p>
<p>Salasana:<br>
    <input type="password" name="passw"></p>
<p>Pelaaja vai muu:<br>
    <input type="radio" name="authority" value="0"> Pelaaja <br>
    <input type="radio" name="authority" value="1"> Suunnittelija <br>
    <input type="radio" name="authority" value="2"> Kouluttaja <br>    
<input type="submit" value="Lähetä">
</form>
<a href="/">Kirjaudu täältä.</a>
