{% extends "layout.html" %}


{% block header %}

<h2>Hei, {{ session.firstname }}</h2>
<p>Tässä on sinun pelit</p>

{% endblock %}


{% block content %}
<table class="table">
    <tr><th>Nimi</th><th>Pelikertoja</th><th>Aktiivinen</th><th>Piilota</th></tr>
{% for game in games %}
<tr>
    <td>{{ game.gamename }}</td>
    <td>{{ game.playcount }}</td>
    <td>{% if game.visible == True %}
        Kyllä
        {% else %}
        Ei
        {% endif %}
    </td>
    <td>      
    <form action="/delgame" method="POST">
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input class="btn btn-danger" style="width: 100px;" type="submit" value="Poista" />
      </form>
</tr>
{% endfor %}
</table>

{% endblock %}
